{{if deployment_settings.ui.get("social_buttons"):}}
<div id="socialmedia_share"></div>
{{pass}}
<p id="space" style="float: left; width: 23%; text-align: left;"></p>
<p id="see also" style="float: left; width: 50%; text-align: center;">
	<a href='http://sahanafoundation.org' target='_blank' title='{{=T("SahanaFoundation.org")}}'><img src='/{{=request.application}}/static/img/ssf/SSF.png' width='154' height='51' style='vertical-align: middle;' alt='{{=T("Sahana Software Foundation")}}' /></a> 
	<a href='http://twitter.com/#!/sahanafoss' target='_blank' title='{{=T("@SahanaFOSS on Twitter")}}'><img src='/{{=request.application}}/static/img/social/twitter.png' width='30' height='30' style='vertical-align: middle;' alt='{{=T("@SahanaFOSS on Twitter")}}' /></a> 
	<a href='http://facebook.com/sahanasoftwarefoundation' target='_blank' title='{{=T("Sahana Software Foundation on Facebook")}}'><img src='/{{=request.application}}/static/img/social/facebook.png' width='30' height='30' style='vertical-align: middle;' alt='{{=T("Sahana Software Foundation on Facebook")}}' /></a> 
	<a href='http://www.youtube.com/user/SahanaFOSS' target='_blank' title='{{=T("Sahana Software Foundation on YouTube")}}'><img src='/{{=request.application}}/static/img/social/YouTube.png' width='30' height='30' style='vertical-align: middle;' alt='{{=T("Sahana Software Foundation on YouTube")}}' /></a> 
	<a href='http://slideshare.net/sahanafoss' target='_blank' title='{{=T("Sahana Software Foundation on Slideshare")}}'><img src='/{{=request.application}}/static/img/social/slideshare.png' width='30' height='30' style='vertical-align: middle;' alt='{{=T("Sahana Software Foundation on Slideshare")}}' /></a> 
	<a href='http://www.flickr.com/photos/63240361@N02/' target='_blank' title='{{=T("Sahana Software Foundation on Flickr")}}'><img src='/{{=request.application}}/static/img/social/flickr.png' width='30' height='30' style='vertical-align: middle;' alt='{{=T("Sahana Software Foundation on Flickr")}}' /></a> 
</p>
<p id="powered by" style="float: left; width: 23%; text-align: right;">
	{{=T("Powered by")}}<a target='_blank' href='http://eden.sahanafoundation.org' title='{{=T("Powered by Sahana Eden")}}'><a target='_blank' href='http://eden.sahanafoundation.org' title='{{=T("Powered by Sahana Eden")}}'><img src='/{{=request.application}}/static/img/ssf/Sahana-Eden.jpg' width='115' height='51' style='vertical-align: middle;' alt='{{=T("Powered by Sahana Eden")}}' /></a>
</p>	
<div class="clearfix"></div>

